<div>
        <a href="{{ product.url }}">
            <img src="{{ product.featured_image | image_url }}" width="400" height="200" loading="eager"/>
            <h3>{{ product.title }}</h3>
            <p>{{ product.price | money_with_currency }}</p>
            <span>{{ product.published_at | date: '%B %d' }}</span>
        </a>
</div>