<h1>{{ product.title }}</h1>
<p>{{ product.price | money_without_trailing_zeros }}</p>
<div>
    <p>{{ product.description }}</p>
</div>

{% form 'product', product %}
    <select name='id'>
        {% for variant in product.variants %}
            <option value={{ variant.id }}>
                {{ variant.title }}
                {{ variant.featured_image }}
            </option>
        {% endfor %}
    </select>

    <button type='submit'>Add to cart</button>
{% endform %}